.header-titulo {
  background-color: #e03e52;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.header-container {
  height: 82px;
  display: flex;
  justify-content: space-around;
}

.header-container__nav {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.header-container__nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
